* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #002266;

}

body {
  margin: 0 auto;
  max-width: 95em;
  background-image: url(background1.png);
}

.page {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  background: rgba(200, 200, 200, 0.35);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(173, 194, 235, 0.85);
}

.title {
  font-family: Courier; sans-serif;
  font-size: 5.5em;
  font-weight: bolder;
  padding-top: 10px;
  font-variant: small-caps;
}

.list,
.steps {
  list-style: none;
  margin: 10px;
}

.feature {
  color: #e6e6e6;
  background-color: #0066ff;
  font-variant: small-caps;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 2px solid #161516;
  border-radius: 20px;

  width: 150px;
  box-sizing: border-box;
  margin: 10px auto;
}

.header-text,
.layout,
.people {
  align-items: center;
  text-align: center;
}

.subtitle {
  font-size: 3em;
  font-variant: small-caps;
  font-weight: bold;
  padding-top: 10px;
  font-family: Courier; sans-serif;
  color: #002266;
}

p {
  padding: 15px;
  font-weight: bold;
}

.command,
.proposal {
  font-weight: bold;
  font-size: 1.1em;
}

a {
  font-style: italic;
}

a:hover {
  color: #5b84d7;
}
