* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gill sans; sans-serif;
}

.menu-container {
  display: flex;
  justify-content: center;
  background-color: #0a46a8;
  color: #fff;
  padding: 20px 0;
}

.menu {
  display: flex;
  justify-content: flex-end;
  width: inherit;
}

.header-container {
  background-color: #5390f4;
  padding: 10px 0 0 10px;
}

.title {
  font-size: 5em;
  font-weight: bold;
  font-family: geneva; sans-serif;
}

.main-question {
  font-size: 2em;
}

.main-content {
  font-size: 1em;
}
