* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gill sans; sans-serif;
}

.menu-container {
  display: flex;
  justify-content: center;
  background-color: #0a46a8;
  color: #fff;
  padding: 20px 0;
}

.menu {
  display: flex;
  justify-content: flex-end;
  width: inherit;
}

.header-container {
  background-color: #5390f4;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px 10px 10px;
}

.title {
  font-size: 4em;
  font-weight: bold;
  font-family: geneva; sans-serif;
}

.main-question {
  font-size: 2em;
}

.main-content {
  font-size: 1em;
}

.layout-container {
  background-color: #97bcfc;
  padding: 10px 10px 10px 10px;
}

.features-list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.features-list > li {
  display: inline;
}

.features-menu li {
  list-style: none;
  
}

.layout-header,
.people-header {
  font-size: 2em;
}

.people-container {
  background-color: #cadbf7;
  display: flex;
}

.image {
  float: right;
}

.layout-content {
  display: flex;
  justify-content: space-between;
}

.
